<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <div class="ten columns">
                <h1>Roberto Santos</h1>
                <a class="button" href="/index.html">home</a>
                <a class="button" href="/research.html">research</a>
                <a class="button" href="/software.html">software development & maps</a>
                <!--<a class="button" href="/publications.html">publications</a>-->
                <a class="button" href="/about.html">about</a>
                <!--<a class="button" href="http://lattes.cnpq.br/1161222329597802" target="_blank">lattes</a>
                <a class="button" href="https://scholar.google.com/citations?user=BJOBZIUAAAAJ" target="_blank">google scholar</a>
                <a class="button" href="https://orcid.org/0000-0003-1333-2605" target="_blank">orcid</a>-->
            </div>
        </div>
        <div class="row">
            <div class="ten columns" style="margin-top: 0%">
                {{ content }}
            </div>
        </div>
    </div>
    {% include googleanalytics.html %}
</body>
</html>
